package just.learn.service;
import just.learn.entity.${modelUp};
import just.learn.entity.PageQueryBean;
import just.learn.vo.QueryCondition;
public interface ${modelUp}Service{


public ${modelUp} insert(${modelUp} ${modelLow});

public boolean delete(Integer id);

public int update(${modelUp} ${modelLow});

public ${modelUp} getById(Integer id);
PageQueryBean getLimitObjects(QueryCondition condition);
//public   List<${modelUp}> getAll();
}